<!-- login-component.html -->
<div class="login-wrap">
  <div class="login-left">
    <!-- côté gauche avec logo et features -->
    <div class="logo-wrap">
      <!-- <img src="assets/sage.png" alt="Logo" class="logo-img" /> -->
      <img
        src="assets/logocopy.png"
        alt="Logo"
        class="logo-img"
        style="width: 100px; height: 100px; object-fit: contain; color: #fff;"
      />
      <div class="logo-title">Stock App</div>
      <div class="logo-sub">Gestion intelligente de votre inventaire</div>
    </div>
    <div class="features">
      <div class="feat"><i class="bi bi-bar-chart-fill"></i> Tableau de bord en temps réel</div>
      <div class="feat"><i class="bi bi-box-seam"></i> Suivi des stocks et alertes</div>
      <div class="feat"><i class="bi bi-wallet2"></i> Gestion de caisse intégrée</div>
      <div class="feat"><i class="bi bi-file-earmark-text"></i> Rapports et analyses</div>
    </div>
  </div>

  <div class="login-right">
    <h3 class="form-title">Connexion</h3>
    <p class="form-sub">Accédez à votre espace de gestion</p>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label>Code entreprise</label>
        <input
          type="text"
          class="form-control"
          formControlName="code"
          placeholder="Entrer votre code"
        />
        @if (userForm.get('code')?.invalid && userForm.get('code')?.touched) {
          <small class="text-danger">Code obligatoire</small>
        }
      </div>

      <div class="field">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="admin@entreprise.com"
        />
        @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
          <small class="text-danger">Email invalide</small>
        }
      </div>

      <div class="field">
        <label>Mot de passe</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="••••••••"
        />
        @if (userForm.get('password')?.invalid && userForm.get('password')?.touched) {
          <small class="text-danger">Minimum 6 caractères</small>
        }
      </div>

      <div class="row-check">
        <label class="check-label"> <input type="checkbox" /> Se souvenir de moi </label>
        <span class="forgot">Mot de passe oublié ?</span>
      </div>

      <button type="submit" class="btn-login" [disabled]="loading">
        @if (loading) {
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true">
          </span>
          Connexion...
        } @else {
          Se connecter
        }
      </button>

      @if (messageErreur) {
        <p class="text-danger text-center mt-2">{{ messageErreur }}</p>
      }

      <div class="badge-secure"><i class="bi bi-lock-fill"></i> Connexion sécurisée</div>
    </form>
  </div>
</div>
