<div class="container-fluid p-3">
  <h3 class="mb-4">👤 Gestion utilisateur</h3>

  <div class="card shadow-sm">
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <!-- NOM -->
        <div class="mb-3">
          <label class="form-label">Nom complet</label>
          <input
            type="text"
            class="form-control"
            formControlName="nom"
            [disabled]="data.action === 'view'"
          />

          @if (userForm.get('nom')?.invalid && userForm.get('nom')?.touched) {
            <small class="text-danger">Nom obligatoire</small>
          }
        </div>

        <!-- EMAIL -->
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            [disabled]="data.action === 'view'"
          />

          @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
            <small class="text-danger">Email invalide</small>
          }
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
          <label class="form-label">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            formControlName="motDePasse"
            [disabled]="data.action === 'view'"
          />

          @if (userForm.get('motDePasse')?.invalid && userForm.get('motDePasse')?.touched) {
            <small class="text-danger">Minimum 6 caractères</small>
          }
        </div>

        <!-- ROLE -->
        <div class="mb-3">
          <label class="form-label">Rôle</label>
          <select class="form-control" formControlName="role" [disabled]="data.action === 'view'">
            <option value="ADMIN">ADMIN</option>
            <option value="CAISSIER">CAISSIER</option>
            <option value="VENDEUR">VENDEUR</option>
          </select>
        </div>

        <!-- ACTIVE -->
        <div class="form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="active"
            [disabled]="data.action === 'view'"
          />
          <label class="form-check-label">Utilisateur actif</label>
        </div>

        <!-- BUTTON -->
        <button class="btn btn-primary w-100" type="submit" [disabled]="data.action === 'view'">
          💾 Enregistrer
        </button>
      </form>
    </div>
  </div>
</div>
